body{
    background: url(../images/bg-desktop.svg) no-repeat fixed center;
    background-size: cover;
    background-color: var(--bg-color);
    font-family: "Open Sans", sans-serif;
}

/* HEADER */

.header{
    margin: 70px;
}

/* MAIN */

.container{
    display: flex;
    margin: 70px;
    justify-content: center;
    align-items: center;
}

.container .text-info{
    display: flex;
    flex-direction: column;
    margin: 30px; 
    margin-bottom: 200px;
}

.container .text-info h2{
    color: #fff;
    font-size: 40px;
    line-height: 55px;
}

.container .text-info p{
    color: #fff;
    margin-top: 30px;
}

.container .text-info .register{
    margin-top: 30px;
    background-color: #fff;
    align-self:flex-start;
    border-radius: 40px;
    padding: 13px 45px;
    font-size: 15px;
    text-decoration: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container .text-info .register:hover{
    background-color: var(--bg-hover);
    color: #fff;
    transition: 0.3s;
}

/* FOOTER */

.social{
    display: flex;
    justify-content: flex-end;
    margin-right: 55px;
    margin-bottom: 10px;
    padding: 30px;
    gap: 25px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s, border-color 0.3s;
}

.social a:hover {
    color: var(--bg-hover);
    border-color: var(--bg-hover)
}

